.navigationWrapper {
  display: flex;
  background-color: #ececec;
  position: relative;
}

.logoContainer {
  display: none;
  /* position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 111; */
}

.logoContainer a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.navContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px 0 20px 0px;
  margin: 0;
}

.menuList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menuList a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(179, 179, 179);
  text-decoration: none;
  transition: color 0.3s linear;
}

.menuList a:hover,
.menuList a:hover {
  color: #2626e2;
  transform: scale(1.2);
}

/*media*/

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .navigationWrapper {
    justify-content: flex-end;
    align-items: center;
    background-color: #ececec;
    position: relative;
  }

  .navContainer {
    display: flex;
    flex-flow: row wrap;
    width: 200px;
    justify-content: space-between;
    padding: 20px 70px 20px 0px;
    margin: 0;
  }

  .logoContainer {
    display: block;
    position: absolute;
    top: 3%;
    left: 12%;
    z-index: 111;
  }
}
