.activitiesList {
  margin: 0;
}

/*media*/



@media screen and (min-width: 768px) {
  .activitiesList {
    padding: 0 20px 0 20px;
    
  }
}

@media screen and (min-width: 1200px) {
  .activitiesList {
    margin: 0;
    padding-left: 25px;
  }
}